<div ng-show="showingPatternForm">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading"> Instances display pattern </div>
				<div class="panel-body">
					<instance-display-pattern
						on-applied="patternApplied()"
					></instance-display-pattern>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<!-- Classes Browser -->
		<div class="panel panel-primary">
			<div class="panel-heading"> 
				Classes
			</div>
			<div class="panel-body">
				<div ng-show="loadingClasses" class="alert alert-info"> Loading classes ... </div>
				<script type="text/ng-template" id="tree_node.html">
					<div class="tree_node">
						<div class="btn-group" role="group">
							<button ng-show="classes[name].childs.length > 0" ng-click="classes[name].toggleChilds()" class="btn btn-success btn-xs">
								<span ng-show="!classes[name].showChilds" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								<span ng-show="classes[name].showChilds" class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							<button 
								ng-class="{ 
									'btn-default': name != currentClassName,
									'btn-primary': name == currentClassName
								}"
								ng-click="classClicked(name)"
								class="btn btn-default btn-xs"
							> {{ classes[name].caption }} </button>
						</div>
						<div ng-show="classes[name].showChilds">
							<div ng-repeat="name in classes[name].childs track by $index" ng-include="'tree_node.html'"></div>
						</div>
					</div>
				</script>
				<div ng-repeat="name in names track by $index" ng-include="'tree_node.html'"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<!-- Instances Browser -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				Instances
				<div ng-show="showButtons" class="btn-group pull-right">
					<button ng-click="removeInstances()" class="btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<button ng-click="showPatternForm()" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
					</button>
					<button ng-click="createInstance()" class="btn btn-success btn-xs">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</div> 
			</div>
			<div class="panel-body">
				<div ng-show="loadingInstances" class="alert alert-info"> Loading instances ... </div>
				<div ng-hide="loadingInstances" ng-repeat="i in instances">
					<div class="input-group">
						<div class="input-group-addon">
							<input
							    type="checkbox"
							    name="selectedInstances[]"
							    value="{{i.name}}"
							    ng-model="i.selected"
							>
						</div>
						<button 
							ng-click="instanceClicked(i.name)"
							ng-class="{ 
								'btn-default': i.name != currentInstanceName,
								'btn-primary': i.name == currentInstanceName
							}"
							class="btn btn-sm"
						>
							{{ i.caption }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>