.top-container {
	margin-top: 70px;
	padding: 0px 5px;
}

.buttons {
	text-align: center;
}

.buttons .btn {
	margin-top: 10px;
}

.tree_node .btn-group {
	margin-top: 5px;
}

.tree_node {
	margin-left: 10px;
}

input.small-text-input {
	width: 50px !important;
}

.properties-container .form-group {
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 5px;
}

.properties-container .form-group .title {
	cursor: move;
}

.properties-container .dndDragging {
	border: 1px solid #3073AC;
}

.alerts {
	position: fixed;
	bottom: 0px;
	right: 10px;
	z-index: 1;
}