body { padding-bottom: 70px; }
.top-container {
	margin-top: 70px;
	padding: 0px 5px;
}

.buttons {
	text-align: center;
}

.buttons .btn {
	margin-top: 10px;
}

.tree_node .btn-group {
	margin-top: 5px;
}

.tree_node {
	margin-left: 10px;
}

input.small-text-input {
	width: 50px !important;
}

.properties-container {
	background: #f0f0f0;
}

.properties-container .form-group {
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #fff;
	padding: 10px;
}

.properties-container .form-group .title {
	cursor: move;
}

.alerts {
	position: fixed;
	bottom: 40px;
	right: 10px;
	z-index: 1;
}